<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://nuget.travelline.lan/repository/nugetv3-proxy/index.json" protocolVersion="3" />
        <add key="TravelLine" value="https://nuget.travelline.lan:8443/nuget/" />
    </packageSources>
    <packageRestore>
        <clear />
        <add key="enabled" value="True" />
        <add key="automatic" value="True" />
    </packageRestore>
    <bindingRedirects>
        <clear />
        <add key="skip" value="False" />
    </bindingRedirects>
    <packageManagement>
        <clear />
        <add key="format" value="0" />
        <add key="disabled" value="False" />
    </packageManagement>
</configuration>