<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
<add key="travelline" value="http://nuget.travelline.lan/nuget" allowInsecureConnections="true" />
<add key="travelline-proxy" value="http://nuget.travelline.lan:8081/repository/nugetv3-proxy/index.json" allowInsecureConnections="true" />
<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
  </packageSourceCredentials>
  <config>
  </config>
  <packageSourceMapping>
  </packageSourceMapping>
</configuration>
